.wrap {
  margin: auto;
  width: 400px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  color: #6ca4ea;
  font-size: 20px;
  margin: 20px 0;
}

.steps {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 8px;
}

.steps-line {
  background-color: #4a90e2;
  display: block;
  width: 33.33%;
  height: 8px;
}

.steps-line-1 {
  width: 66.66%;
}

.steps-line-2 {
  width: 100%;
}

.wrap-form {
  color: #5c5b5c;
  font-size: 14px;
  text-transform: uppercase;
  padding: 70px 30px;
}

.wrap-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  outline: none;
  height: 30px;
  font-size: 18px;
  margin: 10px 0 18px;
}

.wrap-info {
  color: #5c5b5c;
  font-size: 14px;
  text-transform: uppercase;
  padding: 11px 30px 50px;
}

.wrap-date input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0px 10px 0 40px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
}

.wrap-date .wrap-input:nth-of-type(2) input {
  border-left: none;
  border-right: none;
}

.wrap-date .wrap-input {
  width: 33.33%;
  display: inline-flex;
}

.wrap-input {
  position: relative;
}

.wrap-date label {
  position: absolute;
  bottom: -16px;
  font-size: 10px;
  left: 13px;
}

.wrap-info-name {
  text-align: center;
  margin: 30px 0 13px;
}

.gender input {
  visibility: hidden;
  width: 0;
  margin: 0;
}

.gender input[type='radio']:checked + span {
  background-color: #4a90e2;
  color: #fff;
  font-weight: 500;
}

.gender label span {
  display: inline-block;
  width: 33.33%;
  line-height: 40px;
  text-align: center;
  color: #6d6d6d;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.gender label:nth-of-type(2) span {
  border-left: none;
  border-right: none;
}

.wrap-select select {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 30px;
  text-transform: uppercase;
}

.wrap-select option {
  font-size: 14px;
}

footer {
  border-top: 1px solid #cacaca;
  padding: 20px 30px;
  overflow: hidden;
}

.footer-btn {
  cursor: pointer;
  color: #5caff1;
  font-size: 18px;
  background: transparent;
  border: none;
  float: right;
  padding: 0;
  outline: none;
}

.back {
  color: #acabbb;
  float: left;
}

.finish {
  padding: 75px 0;
}

.badge {
  width: 190px;
  background: #b8e986;
  border-radius: 50%;
  line-height: 190px;
  text-align: center;
  font-size: 100px;
  color: #fff;
  margin: auto;
}

.finish-btn {
  cursor: pointer;
  color: #5ca3ea;
  font-size: 18px;
  background: transparent;
  border: 1px solid #4d92e2;
  padding: 0;
  outline: none;
  border-radius: 5px;
  line-height: 44px;
  width: 180px;
  margin: 42px auto 0;
  display: block;
}
